* {
  font-family: "Lato", sans-serif;
}

/* Map styling */
#map-button {
  background-color: rgb(128, 0, 0);
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1;
}

#map {
  height: 300px;
  width: 100%;
}

#map-modal-window {
  border-radius: 6px;
}

/* Sidebar Styling */
.sidenav {
  height: 100%;
  width: 23%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(96, 93, 93);
  overflow-x: hidden;
  padding-top: 25px;
}

.sidenav a,
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #f7f1f1;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidenav a:hover,
.dropdown-btn:hover {
  color: rgb(128, 0, 0);
}

.main {
  margin-left: 160px;
  font-size: 28px;
  padding: 0px 10px;
}

.input {
  max-width: 65%;
  margin-left: 5%;
  margin-bottom: 3%;
  background-color: #bfbebe;
}

#myBtn{
  background-color: rgb(96, 93, 93);
  font-size: larger;
  margin-top: 1.5%;
  margin-left: 2%;
  cursor: pointer;
  border: 0; 
}

.active {
  background-color: rgb(159, 83, 83);
  color: white;
}

.dropdown-container {
  display: none;
  background-color: #4a4949;
  padding-left: 8px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.card {
  border-radius: 30px;
  margin-bottom: 120px;
  width: 28vw;
  height: 30vh;
  min-width: 201px;
}

.container1 {
  display: flex;
  justify-content: flex-end;
  margin-left: 150px;
  margin-top: 200px;
}

.container2 {
  display: flex;
  justify-content: flex-end;
  margin-left: 150px;
}

.row-title1 {
  display: flex;
  position: relative;
  text-align: center;
  left: 26vw;
  bottom: 5vh;
  height: 40px;
  width: 20vw;
  font-size: 1.8em;
  /* overflow: hidden; */
  /* white-space: nowrap; */
  /* text-overflow: ellipsis; */
}

.row-title2 {
  display: flex;
  position: relative;
  height: 40px;
  left: 26vw;
  bottom: 5vh;
  width: 20vw;
  font-size: 1.8em;
  /* overflow: hidden; */
  /* white-space: nowrap; */
  /* text-overflow: ellipsis; */
}

.column {
  min-width: 225px;
  max-width: 300px;
}

/* header CSS */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 500px;
  padding-right: 50px;
  background-color: #4a4949;
  color: #f7f1f1;
  font-size: 25px;
}

.nav-links {
  padding: 28px 0;
}

.nav-links li {
  display: inline-block;
  margin: 0 15px;
}

.nav-links li a {
  text-decoration: none;
  color: #f7f1f1;
  padding: 5px 0;
  position: relative;
}

.nav-links li a::after {
  content: '';
  background: rgb(128, 0, 0);
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.5s;
}

.nav-links li a:hover::after {
  width: 100%;
}

/* @media screen and (max-width: 647px) {
    
    #map input {
       width: 100px;
    }
}

@media screen and (max-width: 300px) {
    #map {
        width: 100%;
    } */

@media (max-width: 768px) {
  .row-title1 {
    text-align: center;
    font-size: 1.6em;
    width: 100%;
  }

  .row-title2 {
    text-align: center;
    font-size: 1.6em;
    width: 100%;
  }
}